
/* import the required JSAPI css */
@import 'https://js.arcgis.com/4.10/esri/css/main.css';

.esri-view {
  height: 500px;
}

h3 {
  font-family: Biryani, sans-serif;
  font-size: 15px;
}

.heading {
  border-bottom: 2px solid #7C9F71;
}

p {
  color: #8c8c8c;
  font-size: 13px;
}

.query_row:hover {
  cursor: pointer;
  background-color: #DDE6DB;
  border-radius: 7px;
}
