
<ion-content >
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-text-center">
        <div class="titleBar">
          <ion-img class="logoTitleImage" src='../../assets/Truss.png'></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="bodyArea ion-margin-top" >
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <form #myForm="ngForm">
            <ion-card-header>
              Select your options
              <p class="smallText"> Click on labels to reveal a description </p>
            </ion-card-header>
            <ion-item (click)="showSearchRadius()" class="pointer">
              <ion-label position="floating"> <p>Search Radius (in miles)</p></ion-label>
              <ion-range [(ngModel)]="searchRadius" name="searchRadius" min="0" max="20" pin color="primary"></ion-range>
            </ion-item>
            <ion-item class="pointer" (click)="showParcelDimensions()">
              <ion-label position="floating"> <p>Parcel Dimensions</p></ion-label>
              <ion-range [(ngModel)]="parcelDimensions" name="parcelDimensions" dual-knobs  min="0" max="50" pin color="primary"></ion-range>
            </ion-item>

            <ion-item>
              <ion-label (click)="showFoodDesert()"> <p class="pointer"> Consider Food Deserts </p> </ion-label>
              <ion-toggle [(ngModel)]="considerFoodDeserts" name="foodDesert"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label (click)="showPublicTransport()"> <p class="pointer"> Consider Public Transport </p> </ion-label>
              <ion-toggle [(ngModel)]="considerPublicTransport" name="publicTransport"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label (click)="showCommunityCenters()"> <p class="pointer"> Consider Community Centers </p></ion-label>
              <ion-toggle [(ngModel)]="considerDistanceCommunityCenters" name="communityCenters"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label (click)="showHeavyMetals()"> <p class="pointer"> Consider Heavy metals </p></ion-label>
              <ion-toggle [(ngModel)]="considerHeavyMetals" name="heavyMetal"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label (click)="showSunlight()"> <p class="pointer"> Consider Sunlight Accessibility </p> </ion-label>
              <ion-toggle [(ngModel)]="considerSunlight" name="sunlight"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-list>
                <ion-radio-group value="biff">
                  <ion-list-header>
                    <ion-label>Name</ion-label>
                  </ion-list-header>

                  <ion-item>
                    <ion-label>Biff</ion-label>
                    <ion-radio slot="start" value="biff"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Griff</ion-label>
                    <ion-radio slot="start" value="griff"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Buford</ion-label>
                    <ion-radio slot="start" value="buford"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-item>
          </form>


        </ion-col>
        <ion-col size="8">
          <app-esri-map [considerSunlight]="considerSunlight" [considerDistanceCommunityCenters]="considerDistanceCommunityCenters" [considerFoodDeserts]="considerFoodDeserts"
          [considerHeavyMetals]="considerHeavyMetals" [searchRadius]="searchRadius" [considerPublicTransport]="considerPublicTransport"></app-esri-map>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col size="4">
          <div *ngIf="openFoodDesert" class="description">
            <ion-item>
              <ion-thumbnail slot="end">
                <img src="../../assets/desert.svg">
              </ion-thumbnail>
              <h1>
                Food Deserts
              </h1>
            </ion-item>
            <ion-item lines="none">
              <p> A food desert is an urban area where it is difficult to buy affordable or good-quality fresh food. A community garden is a great way at addressing this problem.
                If this is something that is important to you, selecting this filter will ensure only parcels within food deserts will be considered.</p>
            </ion-item>

          </div>

          <div *ngIf="openPublicTransport" class="description">
            <ion-item>
              <ion-thumbnail slot="end">
                <img src="../../assets/train.svg">
              </ion-thumbnail>
              <h1>
                Public Transport
              </h1>
            </ion-item>

            <ion-item lines="none">
              <p> An important logistical aspect of creating a community garden is ensuring every community member has reasonable transportation access to the selected site.
                Enabling this filter will remove any parcels not within a reasonable distance to public transportation routes.</p>
            </ion-item>

          </div>

          <div *ngIf="openCommunityCenters" class="description">
            <ion-item>
              <ion-thumbnail slot="end">
                <img src="../../assets/school.svg">
              </ion-thumbnail>
              <h1>
                Community Centers
              </h1>
            </ion-item>
            <ion-item lines="none">
              <p> You may find more community member engagement if your selected sight is near community centers. Some examples of community centers are churches, schools, charity organizations,
                or public parks. Enabling this filter will make sure only parcels within reasonable proximity to community centers are considered.
              </p>
            </ion-item>

          </div>

          <div *ngIf="openHeavyMetals" class="description">
            <ion-item>
              <ion-thumbnail slot="end">
                <img src="../../assets/warning.svg">
              </ion-thumbnail>
            <h1>
              Heavy Metals
            </h1>
            </ion-item>
            <ion-item lines="none">
              <p> A very important component of choosing the right soil to grow on is making sure the soil is not contaminated with heavy metals. Heavy metals may affect the quality of plant growth,
                but more importantly they may cause serious health problems over a long-period of time. Common heavy metals to be wary of include lead (Pb), chromium (Cr), arsenic (As), zinc (Zn),
                cadmium (Cd), copper (Cu), mercury (Hg), and nickel (Ni). Enabling this filter will attempt to remove parcels from consideration which may have been exposed to heavy metals. However,
                using heavy metal testing kits are still strongly recommended for each selected site.
              </p>
            </ion-item>
          </div>

          <div *ngIf="openSunlight" class="description">
            <ion-item>
              <ion-thumbnail slot="end">
                <img src="../../assets/lights.svg">
              </ion-thumbnail>
            <h1>
              Sunlight
            </h1>
            </ion-item>
            <ion-item lines="none">
              <p> Your plants won’t grow too well if the sunlight is being blocked by surrounding buildings! This filter will attempt to consider only parcels with reasonable sunlight access.
              </p>
            </ion-item>

          </div>

          <div *ngIf="openParcelDimensions" class="description">
            <ion-item>
              <ion-thumbnail slot="end">
                <img src="../../assets/dimension.svg">
              </ion-thumbnail>
              <h1>
                Parcel Dimensions
              </h1>
            </ion-item>
            <ion-item lines="none">
              <p> What are the minimum and maximum sizes of parcels you are willing to consider? </p>
            </ion-item>
          </div>

          <div *ngIf="openSearchRadius" class="description">
            <ion-item>
              <ion-thumbnail slot="end">
                <img src="../../assets/radius-of-circle.svg">
              </ion-thumbnail>
              <h1>
                Search Radius
              </h1>
            </ion-item>
            <ion-item lines="none">
              <p> How far away are you willing to consider for your parcels from your current location? Make sure your current location is set using the search bar in the top-right corner of the embedded map.
              </p>
            </ion-item>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>





</ion-content>
